<%= form_with(model: dojo, local: true) do |form| %>
  <% if dojo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dojo.errors.count, "error") %> prohibited this dojo from being saved:</h2>

      <ul>
      <% dojo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch, id: :dojo_branch %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :dojo_street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :dojo_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :dojo_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
